body {
  min-height:100%;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: $link-color;
  text-decoration: inherit;
  transition: color .3s;
}
a:hover {
  color: lighten($link-color, 40%);
  text-decoration: inherit;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  color: $text-color;
  font: $header-font-weight #{$header-font-size}/#{$base-line-height} $header-font-family;
  font-weight: bold;
  text-transform: uppercase;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}

p {
  margin-top: 10px;
}

/* Generic */
.clear {
  clear: both;
}
.read-more {
  color: $link-color;
  display: block;
}
.read-more:after {
  content: ' >>';
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
.aligncenter {
  display: block;
  margin: auto;
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}