/* You can add your own variables here */

// Our variables
$base-font-family:      'Roboto', sans-serif;
$base-font-size:        14px;
$base-font-weight:      400;
$small-font-size:       $base-font-size * 0.875;
$base-line-height:      1.5;
$header-font-family:    sans-serif;
$header-font-size:      18px;
$header-font-weight:    700;

$spacing-unit:          30px;

$text-color:            #202020;
$background-color:      #fdfdfd;
$brand-color:           #f32a1a;
$link-color:            #333399;

$fade-color:            #828282;
$fade-color-light:      lighten($fade-color, 40%);
$fade-color-dark:       darken($fade-color, 25%);

// Width of the content area
$content-width:         900px;

$on-palm:               600px;
$on-laptop:             1024px;
