<!DOCTYPE html>
<html>
    {% include "head.twig" %}
    <body id="body" {{ function('body_class') }} >
        <div class="content-wrapper container">
            {% block body %}{% endblock %}
        </div>
        {{wp_footer}}
    </body>
</html>
