{% extends 'base.twig' %}
{% block body %}
    <header id="header" class="front">
        <div id="headtitle">
            <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
            {{ site.description }}
        </div>
    </header>
    <main id="content">
        {% block content %}
            <header>
                <h2>{{ post.title }}</h2>
            </header>
            {{ post.content }}
        {% endblock %}
    </main>
    {% include 'footer.twig' %}
{% endblock %}
