<head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ site.title }}</title>
    <link rel="pingback" href="{{ site.pingback_url }}">
    {{ function('wp_head') }}
    {% include "head_additional.twig" %}
</head>
