<header id="header" class="container" role="banner">
    <img src="{{ header }}" alt="" />
    <div id="headtitle">
        <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
    </div>
</header>
{% include "navbar.twig" %}
