{% extends 'page.twig' %}
{% block content %}
    <header>
        <h2>Posts</h2>
    </header>
    {% for post in posts %}
        {% include "article.twig" %}
        <hr/>
    {% endfor %}

{% endblock %}