<nav class="navbar navbar-light bg-faded">
    <ul class="nav navbar-nav">
        {% for item in menu.get_items %}
            <li id="menu-item-{{item.ID}}" class="nav-item{% if item.current %} active{% endif %} {{item.classes | join(' ')}}">
                <a class="nav-link" href="{{item.get_link}}">{{item.title}}{% if item.current %} <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
        {% endfor %}
    </ul>
</nav>