{% extends 'base.twig' %}
{% block body %}
    {% include 'side.twig' %}
    {% include 'header.twig' %}
    <div id="page" class="container">
        <main id="content" role="main">
            {% block content %}
                <header>
                    <h2>{{ post.title }}</h2>
                </header>
                {{ post.content }}
            {% endblock %}
        </main>
    </div>
    {% include 'footer.twig' %}
{% endblock %}