/* Base SCSS file */
/* You can add your own variables here */
body {
  min-height: 100%;
  font: 400 14px/1.5 sans-serif;
  color: #202020;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #333399;
  text-decoration: inherit;
  transition: color .3s; }

a:hover {
  color: #b3b3e6;
  text-decoration: inherit; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font: 400 18px/1.5 sans-serif;
  text-transform: uppercase;
  color: #F3F0D0; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.2em; }

p {
  margin-top: 10px; }

/* Generic */
.clear {
  clear: both; }

.read-more {
  display: block;
  color: #333399; }

.read-more:after {
  content: " >>"; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.aligncenter {
  display: block;
  margin: auto; }

.author {
  color: #828282;
  padding: 4px;
  padding-left: 12px; }
